.bg-image {
    background-image: url('22.jpg.jpg');
    object-fit: cover;
    height: 100vh;
}
.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow:2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21); 
}
.header-bar1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding:10px;
    border-radius: 5px 5px 0 0;
    background:linear-gradient(90deg,#EEA390 0%,#EB796F 43%, #EB796F 100%)
}
.card {
    padding: 20px;
} 
