{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'front/im/eror.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Oops! page not found</h2>
        <h1 data-text = "404" style="background-color: black;">404</h1>
        <h3>{{error}}.</h3>
        <a href="{% url 'using' %}"> Go Back</a>
    </div>
    <a href="{% url 'using' %}"> Go Back</a>
</body>

</html>