{% load static   %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Room Booking</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'front/im/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'front/im/aos.css' %}" rel="stylesheet">
  <link href="{% static 'front/im/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'front/im/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'front/im/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'front/im/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'front/im/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS F<link href="{% static 'front/im/style.css' %}" rel="stylesheet">ile -->
  <link href="{% static 'front/im/style.css' %}" rel="stylesheet">
  

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Room Allotment</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="{% url 'first' %}">Home</a></li>
          
          
          <li><a href="{% url 'status' %}">Room Availability</a></li>
          

          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'image' %}">Images</a></li>
              
              <li><a href="#">Videos</a></li>
              
            </ul>
          </li>
          <li><a href="{% url 'messaging' %}">Contact us </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="{% url 'forming' %}" class="get-started-btn">Book Room</a>
      <a href="{% url 'outing' %}" class="get-started-btn">Log out</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Book Rooms <br></h1>
      <h2>As per availability</h2>
      <a href= "{% url 'forming' %}"class="btn-get-started">BOOK ROOM</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'front/im/pic2.jpeg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>How to book room ?</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Made by IITDWD</h3>
            <p>
              <br><br>
              <strong></strong> <br>
              <strong></strong> <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
           
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Made by IITDWD</h4>
            <p></p>
            
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
           <strong><span></span></strong>
        </div>
        <div class="credits">
          
          <a href="https://bootstrapmade.com/"></a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'front/im/purecounter.js' %}"></script>
  <script src="{% static 'front/im/aos.js' %}"></script>
  <script src="{% static 'front/im/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'front/im/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'front/im/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'front/im/main.js' %}"></script>

</body>

</html>